@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@media print {
  #settings {
    display: none;
  }
  #portfolio {
    display: block;
    width: 100%;
    padding: 0;
  }

  #portfolio .portfolio {
    margin: 0;
  }
}

:root {
  --bg-color: #f3f4f6;
  --primary: #4c1d95;
}

p {
  white-space: pre-wrap;
}