:root {
  --bg-color: #f3f4f6;
  --primary: #5b21b6;
  --primary-darker: #4c1d95;
  --primary-lighter: #815bbe;
  --pink: #9d174d;
  --pink-darker: #831843;
  --pink-lighter: #a74e72;
  --purple: #5b21b6;
  --purple-darker: #4c1d95;
  --purple-lighter: #8d61d3;
  --indigo: #3730a3;
  --indigo-darker: #312e81;
  --indigo-lighter: #6d66cc;
  --blue: #1e40af;
  --blue-darker: #1e3a8a;
  --blue-lighter: #5d78d3;
  --green: #065f46;
  --green-darker: #064e3b;
  --green-lighter: #4dbe89;
  --yellow: #f59e0b;
  --yellow-darker: #d97706;
  --yellow-lighter: #e9ba69;
  --red: #dc2626;
  --red-darker: #b91c1c;
  --red-lighter: #e66a6a;
  --black: #1f2937;
  --black-darker: #111827;
  --black-lighter: #7e8a9c;
}
