:root {
  --bg-color: #f3f4f6;
  --primary: #5b21b6;
  --primary-darker: #4c1d95;
  --pink: #9d174d;
  --pink-darker: #831843;
  --purple: #5b21b6;
  --purple-darker: #4c1d95;
  --indigo: #3730a3;
  --indigo-darker: #312e81;
  --blue: #1e40af;
  --blue-darker: #1e3a8a;
  --green: #065f46;
  --green-darker: #064e3b;
  --yellow: #f59e0b;
  --yellow-darker: #d97706;
  --red: #dc2626;
  --red-darker: #b91c1c;
  --black: #1f2937;
  --black-darker: #111827;
}
